@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
.texto-reloj {
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  color: azure;
}

.card {
  background-color: black;
}
